* {
    box-sizing: border-box;
  }

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #3d3d3d;
    margin-left: 2%;
    background-color: #fffffc;
}


header, footer, .content {
    display: flex;
    align-items: flex-end;
}

header > h1 {
    flex: 9 0 auto;
}

header p {
    flex: 1 0 auto;
    cursor: pointer; 
    text-decoration: underline solid #ba5c0f;
    text-decoration-thickness: 3px;
    text-underline-offset: 2px;
}

header p:hover {
    font-weight: bold;
    text-decoration-thickness: 5px;
    text-underline-offset: 5px;
}

footer {
    font-size: 0.7em;
    justify-content: start;
}

footer > div {
    margin: 1%;
}

.content {
    align-items: center;
    margin: 0 0 0 5%;
}

.content div {
    margin-left: 4%;
}